@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --primary-colorWhite: #f0fff0;
  --black-color: #353839;
  --primary-colorBlack: #414141;
  --primary-colorBlue: #aad9e9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins";
}

.header {
  height: 100px;
  width: 100%;
  background-color: #90d5ec;
  background-image: linear-gradient(315deg, #414141 75%, #90d5ec 0%);
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0 3px 5px rgba(67, 81, 102, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(67, 81, 102, 0.3);
  box-shadow: 0 3px 5px rgba(67, 81, 102, 0.3);
}

.header__left {
  overflow: hidden;
}
.header__left img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.header__right {
  display: flex;
  margin-right: 30px;
}

.header__right-topic {
  margin: 0px 15px;
  margin-top: 40px;
  height: 30px;
}

.header__right-content {
  display: flex;
  cursor: pointer;
}

.header__right-content p {
  color: var(--primary-colorWhite);
  font-size: 20px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
.header__right-content i {
  color: var(--primary-colorWhite);
  font-size: 20px;
  margin-left: 5px;
  text-align: center;
}

.header__right-dropdown {
  display: none;
  position: absolute;
  min-width: 230px;
  width: fit-content;
  border-radius: 0px 0px 5px 5px;
}

.header__right-dropdown .dropdown-topic {
  cursor: pointer;
  padding: 10px 10px;
}

.header__right-dropdown .dropdown-topic a {
  text-decoration: none;
  color: var(--primary-colorWhite);
  font-size: 16px;
  padding: 5px 5px;
  width: 100%;
}

.nav-mobile-btn {
  display: none;
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 10px;
  border-radius: 2px;
  cursor: pointer;
}
.nav-mobile-input {
  display: none;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.45);
  display: none;
  animation: fadeIn linear 0.3s;
}

.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background: var(--primary-colorBlack);
  opacity: 0;
  transform: translateX(100%);
  transition: all linear 0.5s;
}
.nav-mobile p {
  color: var(--primary-colorWhite);
  font-size: 18px;
}

.nav-mobile__header {
  height: 40px;
  position: relative;
  border-bottom: 1px solid var(--primary-colorWhite);
}

.nav-mobile__header-close {
  position: absolute;
  top: 10%;
  right: 10px;
  cursor: pointer;
}
.nav-mobile__header-close i {
  font-size: 18px;
  color: var(--primary-colorWhite);
  transition: all 0.3s;
}

.nav-mobile__header-close i:hover {
  color: rgba(0, 0, 0, 0.7);
}

.nav-mobile-input:checked ~ .nav-overlay {
  display: block;
}
.nav-mobile-input:checked ~ .nav-mobile {
  transform: translateX(0%);

  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-mobile__content {
  display: flex;
  cursor: pointer;
  height: 20px;
  margin-top: 20px;
}

.nav-mobile__topic {
  height: 20px;
  transition: all 0.5s;
}

.nav-mobile__content p {
  color: var(--primary-colorWhite);
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
.nav-mobile__content i {
  color: var(--primary-colorWhite);
  font-size: 14px;
  margin-left: 5px;
  text-align: center;
  margin-top: 3px;
}

.nav-mobile__dropdown {
  display: none;
  position: absolute;
  min-width: 230px;
  width: fit-content;
}

.nav-mobile__dropdown .dropdown-topic {
  cursor: pointer;
  padding: 10px 10px;
}

.nav-mobile__dropdown .dropdown-topic a {
  text-decoration: none;
  color: var(--primary-colorWhite);
  font-size: 16px;
  padding: 5px 5px;
  width: 100%;
}

.nav-mobile__topic:hover .nav-mobile__dropdown {
  display: block;
  background: var(--primary-colorBlack);
}

.dropdown-topic a:hover {
  color: var(--primary-colorBlue);
}

.header__right-topic:hover .header__right-dropdown {
  display: block;
  background: var(--primary-colorBlack);
}

.dropdown-topic a:hover {
  color: var(--primary-colorBlue);
}

.main {
  transform: translateY(100px);
  position: relative;
}
.back {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.banner {
  height: 600px;
  overflow: hidden;
  position: relative;
}
.banner__img {
  position: absolute;
}
.banner__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner__text {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 600px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner__text h1 {
  color: var(--primary-colorWhite);
  font-size: 50px;
  margin-bottom: 15px;
}

.banner__text h2 {
  color: var(--primary-colorWhite);
  font-family: "Roboto";
  font-size: 30px;
  margin-bottom: 20px;
}

.define-left {
  display: flex;
  overflow: hidden;
  margin-top: 100px;
  font-family: "Roboto";
}
.define-left__text {
  height: 100%;
  padding: 30px 0px;
  margin: 0px 30px;
  border-top: 1px solid var(--black-color);
  flex: 1;
  font-size: 18px;
}
.define-left__text .define-left__text-line1 {
  margin-bottom: 10px;
  margin-top: 30px;
  color: var(--primary-colorBlack);
}
.define-left__text .define-left__text-line2 {
  margin-bottom: 10px;
  color: var(--primary-colorBlack);
}
.define-left__text .define-left__text-line3 {
  color: var(--primary-colorBlack);
}

.define-left__img {
  flex: 1;
  overflow: hidden;
  margin: 0px 30px;
}

.define-left__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.define-right {
  display: flex;
  overflow: hidden;
  margin-top: 100px;
  font-family: "Roboto";
  font-size: 18px;
}
.define-right__text {
  height: 100%;
  padding: 30px 0px;
  margin: 0px 30px;
  border-top: 1px solid var(--black-color);
  flex: 1;
}
.define-right__text h1{
  background: -webkit-linear-gradient(#414141, #90d5ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.define-left__text h1{
  background: -webkit-linear-gradient(#414141, #90d5ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.define-right__text .define-right__text-line1 {
  margin-bottom: 10px;
  margin-top: 30px;
  color: var(--primary-colorBlack);
}
.define-right__text .define-right__text-line2 {
  margin-bottom: 10px;
  color: var(--primary-colorBlack);
}
.define-right__text .define-right__text-line2 {
  color: var(--primary-colorBlack);
}

.define-right__img {
  flex: 1;
  overflow: hidden;
  margin: 0px 30px;
}

.define-right__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.expression-banner {
  margin-top: 100px;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  color: var(--primary-colorWhite);
}

.expression-banner h1 {
  font-size: 45px;
}

.footer {
  margin-top: 200px;
  height: 300px;
  width: 100%;
  background-color: #90d5ec;
  background-image: linear-gradient(315deg, #414141 0%, #90d5ec 75%);
  display: flex;
  margin-bottom: 0;
}
.footer__contact {
  margin-top: 30px;
}

.footer__contact-img {
  overflow: hidden;
}
.footer__contact-img img {
  object-fit: cover;
  width: 50%;
  height: 50%;
}

.footer__contact-text {
  margin-top: 10px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
.footer__contact-text h2 {
  color: var(--primary-colorWhite);
}
.footer__contact-text span {
  color: var(--primary-colorWhite);
  font-size: 18px;
  font-weight: 400;
}

.footer__contact-text a {
  text-decoration: none;
  color: var(--primary-colorWhite);
  font-size: 18px;
  font-weight: 400;
  transition: all 0.5s;
}

.footer__contact-text a:hover {
  text-decoration: underline;
}

.footer__address {
  margin-top: 90px;
}
.footer__address h2 {
  color: var(--primary-colorWhite);
}
.footer__address span {
  color: var(--primary-colorWhite);
}
.footer__address i {
  font-size: 20px;
}
.footer__address a {
  text-decoration: none;
  color: var(--primary-colorWhite);
}

.footer__address a:hover {
  text-decoration: underline;
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
  .header {
    height: 50px;
    background-color: #90d5ec;
    background-image: linear-gradient(315deg, #414141 60%, #90d5ec 0%);
  }
  .header__right {
    display: none;
  }
  .nav-mobile-btn {
    display: flex;
    transition: all 0.3s;
  }
  .nav-mobile-btn i {
    font-size: 20px;
    color: var(--primary-colorWhite);
  }
  .nav-mobile-btn:hover {
    background: #727272;
  }

  .main {
    transform: translateY(50px);
  }
  .banner {
    height: 650px;
    overflow: hidden;
    position: relative;
  }
  .banner__text {
    width: 100%;
    height: 650px;
  }
  .banner__text h1 {
    font-size: 25px;
  }
  .banner__text h2 {
    font-size: 20px;
  }
  .banner__img {
    height: 650px;
  }
  .define-left {
    flex-direction: column;
    margin-top: 50px;
  }
  .define-right {
    margin-top: 50px;
    flex-direction: column-reverse;
  }
  .define-left__text {
    font-size: 14px;
  }

  .define-right__text {
    font-size: 14px;
  }
  .expression-banner {
    height: 100px;
    margin-top: 50px;
  }
  .expression-banner h1 {
    font-size: 25px;
  }
  .footer {
    height: 500px;
    flex-direction: column;
    margin-top: 100px;
  }
  .footer__contact-text {
    margin-left: 20px;
  }
  .footer__contact-text h2 {
    font-size: 20px;
  }
  .footer__contact-text span {
    font-size: 14px;
  }
  .footer__contact-text a {
    font-size: 14px;
  }
  .footer__address {
    margin-top: 20px;
    margin-left: 20px;
  }
  .footer__address h2 {
    font-size: 20px;
  }
  .footer__address span {
    font-size: 14px;
  }
  .footer__address a {
    font-size: 14px;
  }
  .footer__social {
    margin-top: 20px;
  }
}
 /* tablet width > 740 and width < 1024 */
 @media only screen and (min-width:46.25em) and (max-width: 63.975em){
  .header {
    height: 50px;
    background-color: #90d5ec;
    background-image: linear-gradient(315deg, #414141 60%, #90d5ec 0%);
  }
  .header__right {
    display: none;
  }
  .nav-mobile-btn {
    display: flex;
    transition: all 0.3s;
  }
  .nav-mobile-btn i {
    font-size: 20px;
    color: var(--primary-colorWhite);
  }
  .nav-mobile-btn:hover {
    background: #727272;
  }

  .main {
    transform: translateY(50px);
  }
  .banner {
    height: 650px;
    overflow: hidden;
    position: relative;
  }
  .banner__text {
    width: 100%;
    height: 650px;
  }
  .banner__text h1 {
    font-size: 25px;
  }
  .banner__text h2 {
    font-size: 20px;
  }
  .banner__img {
    height: 650px;
  }
  .define-left {
    flex-direction: column;
    margin-top: 50px;
  }
  .define-right {
    margin-top: 50px;
    flex-direction: column-reverse;
  }
  .define-left__text {
    font-size: 16px;
  }

  .define-right__text {
    font-size: 16px;
  }
  .expression-banner {
    height: 100px;
    margin-top: 50px;
  }
  .expression-banner h1 {
    font-size: 25px;
  }
  .footer {
    height: 500px;
    flex-direction: column;
    margin-top: 100px;
  }
  .footer__contact-text {
    margin-left: 20px;
  }
  .footer__contact-text h2 {
    font-size: 20px;
  }
  .footer__contact-text span {
    font-size: 16px;
  }
  .footer__contact-text a {
    font-size: 16px;
  }
  .footer__address {
    margin-top: 20px;
    margin-left: 20px;
  }
  .footer__address h2 {
    font-size: 20px;
  }
  .footer__address span {
    font-size: 16px;
  }
  .footer__address a {
    font-size: 16px;
  }
  .footer__social {
    margin-top: 20px;
  }
 }
